version: "3.8"

services:
  timescaledb:
    image: timescale/timescaledb:latest-pg12
    container_name: timescaledb
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=exchange-platform
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=020802
    volumes:
      - timescale-data:/var/lib/postgresql/data

  redis:
    image: redis/redis-stack:latest
    container_name: redis
    ports:
      - "6379:6379"
      - "8001:8001"
    environment:
      - REDIS_ARGS=--save 60 1

volumes:
  timescale-data:
